.ToDoInsert {
    align-items: center;
    justify-content: center;
    display: flex;

}

.ToDoInsert input {
    background: none;
    outline: none;
    border: none;
    background-color: #adb5bd;
    width: 100%;
    /* padding: 0.7rem; */
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;

}

.ToDoInsert input::placeholder {
    color: #dee2e6;
}

.ToDoInsert button {
    height: 3rem;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    background: gray;
    color: white;
    padding: 0 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s background ease-in;

}

.TodoInsert button:hover {
    background: #adb5bd;
}